@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.main-container {
    background-color: #86d2f2;
    background-size: cover;
    height: 100vh;
}

.button-stop {
    background-color: #1f1d41;
    color: #ffffff;
    height: 50px;
    width: 80px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.main-button {
    height: 220px;
    width: 100px;
    background-color: #1f1d41;
    border-radius: 40px;
    padding: 20px;
}

.sub-button {
    height: 60px;
    width: 50px;
    background-color: #4b5069;
    border-radius: 80px;
    margin: 8px;
}