@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.background-container {
    background-image: linear-gradient(to right, #f2ebfe, #f3eaff, #dac0ff);

}

.main-heading {
    color: #690cb0;
    font-size: 50px;
    font-family: "Roboto";
    font-weight: bold;
}

.clock-timer {
    height: 40px;
    width: 40px;
}

.stop-timer {
    font-size: 30px;
    font-weight: bold;
    font-family: "Roboto";
}

.inner-container {
    background-color: #f3eaff;
    border-radius: 10px;
    border: 1px solid #9aa5b1;
    padding: 10px;
}